services:
  back:
    build:
      context: ./back
      dockerfile: Dockerfile
   
    ports:
      - "8000:8000"
  front:
    build:
      context: ./vue
      dockerfile: Dockerfile
   
    ports:
      - "5173:5173"
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
networks:
  default:
    name: php-task-net
    driver: bridge